<br>
<font color="#006dcc">
<big><strong>Willkommen bei den Softwerken Magdeburg!</strong></big><br>
Dieser Server ist für alle da - erstell dir einfach einen Kanal unter "Öffentliche Räume" und nutze ihn solange du ihn brauchst.
</font><br>
<div style="background: #eee; color: #444;">
<strong>Regeln: Seid nett zueinander!</strong><br>
Was wir unter anderem nicht dulden: Hass, Diskriminierung, Beleidigungen & Spam.
Wenn du (z.B. auch im Kontext von Computerspielen) über Gewalt & sexuell explizite Inhalte sprechen möchtest, markiere deinen Kanal bitte als "(NSFW)".<br>
Mehr Infos findest du auf <a href="https://softwerke.md/nutzungsbestimmungen/">https://softwerke.md/nutzungsbestimmungen/</a>.
</div>
<br>
<em><strong>Tipp:</strong> nutze <a href="https://app.screego.net/">app.screego.net</a> um deinen Bildschirm zu teilen.
