/* Fonts for Softwerke Cooperative Design */
/* https://wiki.softwerke.md/books/vereinsinternes/page/typografie */

@font-face {
    font-family: 'Alata';
    src: url('alata-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alata';
    src: url('alata-regular.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Glacial Indifference';
    src: url('glacial-indifference-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glacial Indifference';
    src: url('glacial-indifference-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

